@using MvcApp.ViewModel
@using MvcApp.Models
@model StudentsOfGroupViewModel


<h2>List students of gruop - @Model.Groups.First().NAME</h2>

<p>
    <a class="link__create" asp-action="CreateStudent" asp-controller="Home" asp-route-groupId="@Model.Groups.First().GROUP_ID">Add Student</a>
</p>

<div class="table">
    <div class="t__row t__head">
        <div class="t__col">FIRST_NAME</div>
        <div class="t__col">LAST_NAME</div>
    </div>
    @foreach (var item in Model.Students)
    {
        <div class="t__row">
            <div class="t__col">@item.FIRST_NAME</div>
            <div class="t__col">@item.LAST_NAME</div>
            <div class="t__col t__col_edit">
                <a class="link__edit" asp-action="EditStudent" asp-route-id="@item.STUDENT_ID">Edit</a>
            </div>
            <div class="t__col">
                <form asp-action="DeleteStudent" asp-controller="Home" asp-route-id="@item.STUDENT_ID" method="post">
                    <input type="submit" value="Delete">
                </form>
            </div>
        </div>
    }
</div>
<p>
    @if (Model.PageViewModel.HasPreviousPage) {
        <a asp-action="StudentsOfGroup" asp-route-page="@(Model.PageViewModel.PageNumber - 1)">Prev</a>
    }
    @if (Model.PageViewModel.HasNextPage)
    {
        <a asp-action="StudentsOfGroup" asp-route-page="@(Model.PageViewModel.PageNumber + 1)">Next</a>
    }
</p>